# Node
node_modules/
**/node_modules/

# Angular
dist/
tmp/
out-tsc/
.angular/
/.angular/cache
.sass-cache/
coverage/
typings/
__screenshots__/

# Logs (Angular)
npm-debug.log
yarn-error.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env

# OS
.DS_Store
Thumbs.db

# IDE / herramientas locales
.idea/
.claude/
