@use 'variables' as *;

.input-group {
  display: flex;
  flex-direction: column;
  gap: calc($spacing / 2);
  margin-bottom: $spacing;

  label {
    font-size: $font-size-sm;
    color: $color-secondary;
  }

  input {
    padding: $spacing;
    border: 1px solid #ddd;
    border-radius: $border-radius-md;
    font-size: $font-size-base;
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: $color-primary;
    }
    &.input-error {
      border-color: $color-danger !important;
    }


    &.input-error:focus {
      border-color: $color-danger !important;
    }
  }

  .error-msg {
    text-align: right;
    color: $color-danger;
    font-size: $font-size-sm;
    min-height: 1.2em;
  }
}
